In [1]:
import numpy as np
import pandas as pd

In [2]:
ls *csv

mnist_8x8_image.csv         onigiri.csv
mnist_8x8_label.csv         store_data.csv
mnist_8x8_label_onehot.csv  store_data_trans.csv

# Data Load

## image data as df

In [3]:
mnist_array = np.loadtxt("mnist_8x8_image.csv", delimiter=',')
mnist_array = mnist_array.astype(np.int64)
col_names = [str(i) for i in (range(mnist_array.shape[1]))]
mnist_df = pd.DataFrame(mnist_array, columns=col_names)
mnist_df.head()

   0  1  2  3  4  5  6  7  8  9  ...  54  55  56  57  58  59  60  61  62  63
0  0  0  0  1  1  0  0  0  0  0  ...   0   0   0   0   0   1   1   0   0   0
1  0  0  0  1  1  0  0  0  0  0  ...   0   0   0   0   0   1   1   1   0   0
2  0  0  0  0  1  1  0  0  0  0  ...   0   0   0   0   0   0   1   1   1   0
3  0  0  0  1  1  0  0  0  0  1  ...   1   0   0   0   0   1   1   1   0   0
4  0  0  0  0  1  0  0  0  0  0  ...   0   0   0   0   0   0   1   0   0   0

[5 rows x 64 columns]

## label data as df

In [4]:
mnist_label = np.loadtxt("mnist_8x8_label_onehot.csv", delimiter=",")
col_names = ['label_'+str(i) for i in range(mnist_label.shape[1])]
mnist_label = pd.DataFrame(mnist_label, columns=col_names)

mnist_label.head()

,label_0,label_1,label_2,label_3,label_4,label_5,label_6,label_7,label_8,label_9
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

# Generating frequent itemsets

In [21]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpgrowth, fpcommon, fpmax

In [27]:
%time frequent_itemsets = apriori(mnist_df, min_support=0.14, use_colnames=True)
print(frequent_itemsets.shape)
frequent_itemsets = frequent_itemsets.sort_values('support', ascending=False)
frequent_itemsets.head(10)

CPU times: user 21.1 s, sys: 28 s, total: 49 s
Wall time: 53.2 s
(98308, 2)

      support  itemsets
5    0.890869      (11)
32   0.838530      (59)
2    0.837416       (4)
1    0.821826       (3)
33   0.816258      (60)
81   0.804009   (3, 59)
6    0.778396      (12)
193  0.766147  (11, 59)
55   0.748330   (3, 11)
86   0.739421   (11, 4)

In [35]:
%time frequent_itemsets = fpgrowth(mnist_df, min_support=0.14, use_colnames=True)
print(frequent_itemsets.shape)

frequent_itemsets = frequent_itemsets.sort_values('support', ascending=False)
frequent_itemsets.head(10)
#frequent_itemsets.tail(10)

CPU times: user 5.89 s, sys: 75 ms, total: 5.96 s
Wall time: 6.06 s
(98308, 2)

     support  itemsets
0   0.890869      (11)
1   0.838530      (59)
2   0.837416       (4)
3   0.821826       (3)
4   0.816258      (60)
39  0.804009   (3, 59)
5   0.778396      (12)
35  0.766147  (11, 59)
40  0.748330   (3, 11)
36  0.739421   (11, 4)

In [31]:
%time frequent_itemsets = fpmax(mnist_df, min_support=0.14, use_colnames=True)
print(frequent_itemsets.shape)

frequent_itemsets = frequent_itemsets.sort_values('support', ascending=False)
frequent_itemsets.head(10)
frequent_itemsets.tail(10)

ValueError: min() arg is an empty sequence

(98308, 2)

        support                                itemsets
93385  0.140312                (19, 52, 11, 35, 43, 12)
38597  0.140312  (52, 18, 50, 3, 11, 59, 60, 10, 4, 12)
38596  0.140312      (52, 18, 50, 3, 11, 60, 10, 4, 12)
88550  0.140312                 (18, 3, 60, 36, 35, 61)
48435  0.140312                 (18, 37, 29, 13, 59, 4)
48431  0.140312             (18, 37, 21, 29, 11, 13, 4)
22654  0.140312          (3, 11, 36, 13, 10, 35, 4, 12)
38239  0.140312     (18, 50, 60, 59, 10, 51, 4, 45, 53)
62239  0.140312                (18, 50, 42, 60, 11, 35)
69287  0.140312              (27, 3, 60, 13, 10, 28, 4)

In [33]:
len(tree.nodes)

NameError: name 'tree' is not defined